.inputsContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	max-width: 200px;
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-align: center;
	border: none;
	width: 100%;
}

fieldset label {
	font-size: var(--font-size-base);
	font-weight: 400;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

input[type='number'] {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: 2px;
	padding-inline-start: 4px;
}

.slider {
	--handle-size: 16px;
	--handle-radius: 1000px;
	--track-size: 3px;
	--bg: white;
	--track-color: hsl(0deg 0% 20% / 0.25);
	--handle-color: hsl(18.84, 62.05%, 61.76%);
	--track-active-color: hsl(0deg 0% 50% / 0.125);
	--handle-active-color: hsl(19deg 66% 68%);

	display: block;
	width: 100%;
	background: transparent;
	appearance: none;
	outline-offset: 16px;
	cursor: pointer;
}
.slider.outerRadiusSlider {
	--handle-color: rgb(181, 81, 108);
	--handle-active-color: rgb(198, 104, 129);
}
.slider.paddingSlider {
	--handle-color: hsl(18.84, 62.05%, 61.76%);
	--handle-active-color: hsl(19deg 66% 68%);
}
.slider.innerRadiusSlider {
	--handle-color: rgb(254, 189, 86);
	--handle-active-color: rgb(255, 198, 105);
}

.slider::-webkit-slider-thumb {
	appearance: none;
	height: var(--handle-size);
	width: var(--handle-size);
	border-radius: var(--handle-radius);
	background: var(--handle-color);
	cursor: grab;
	transform: translateY(calc(-50% + var(--track-size) / 2));
	outline: 2px solid var(--bg);
}
.slider::-moz-range-thumb {
	background: var(--handle-color);
	border: 2px solid var(--bg);
	border-radius: var(--handle-radius);
	height: var(--handle-size);
	width: var(--handle-size);
}
.slider:active::-webkit-slider-thumb,
.slider:active::-moz-range-thumb {
	cursor: grabbing;
	background: var(--handle-active-color);
}
.slider::-webkit-slider-runnable-track {
	width: calc(100% - var(--handle-size));
	height: var(--track-size);
	background: var(--track-color);
	border-radius: var(--track-size) / 2;
	margin: calc(var(--handle-size) / 2) 0;
}
.slider::-moz-range-track {
	background: var(--track-color);
}
.slider:active::-webkit-slider-runnable-track,
.slider:active::-moz-range-track {
	background: var(--track-active-color);
}

.borderContainer {
	min-width: 300px;
	max-width: 300px;
	min-height: 300px;
	max-height: 300px;
	margin: 0 auto;
	border-radius: 2px;
	overflow: hidden;
	padding-inline-start: 16px;
	padding-block-start: 16px;
	background-image: radial-gradient(rgb(143 143 143) 1px, #f9f9f9 0);
	background-size: 1.5rem 1.5rem;
}

.outerElement {
	height: 100%;
	min-width: 1000px;
	min-height: 1000px;
	aspect-ratio: 1 / 1;
	background-color: rgb(181, 81, 108);
}

.innerElement {
	background-color: rgb(254, 189, 86);
	height: 100%;
	min-width: 1000px;
	min-height: 1000px;
	aspect-ratio: 1 / 1;
}

@media (max-width: 550px) {
	/* Change order of the items to make the use easier on mobile */
	.inputsContainer {
		order: 1;
	}
}
