/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body,
#root {
	min-height: 100vh;
}
/* #root {
	overflow-y: scroll;
} */
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

:root {
	--font-size-small: clamp(0.8rem, -0.24vw + 0.86rem, 0.67rem);
	--font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
	--font-size-h3: clamp(1.25rem, 0.45vw + 1.14rem, 1.5rem);
	--font-size-h2: clamp(1.56rem, 1.25vw + 1.25rem, 2.25rem);
	--font-size-h1: clamp(1.95rem, 2.59vw + 1.31rem, 3.38rem);
	--primary-color: hsl(10, 5%, 25%);

	font-family: 'Merriweather Sans', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#root {
	width: 100%;
	background-image: linear-gradient(
		140deg,
		hsl(39deg 39% 81%) 0%,
		hsl(38deg 35% 78%) 24%,
		hsl(35deg 31% 76%) 37%,
		hsl(32deg 28% 74%) 48%,
		hsl(30deg 25% 71%) 57%,
		hsl(29deg 21% 69%) 66%,
		hsl(25deg 17% 66%) 74%,
		hsl(24deg 14% 64%) 82%,
		hsl(22deg 10% 62%) 90%,
		hsl(18deg 6% 59%) 100%
	);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-size: var(--font-size-h1);
	text-align: center;
	font-family: 'Merriweather', serif;
}

h2 {
	font-size: var(--font-size-h2);
	text-align: center;
	font-family: 'Merriweather', serif;
}

h1,
h2,
label {
	color: var(--primary-color);
}
